snippet /**head
	/**
	 * Copyright 2011 Google Inc. All Rights Reserved.
	 *
	 * Description of file, its uses and information.
	 *
	 * About file dependencies.
	 *
	 * Author: username@google.com (Firstname Lastname)
	 */
